@font-face {
    font-family: yekan;
    src: url('../fonts/Yekan.eot');
    src: url('../fonts/Yekan.woff') format('woff'),
        url('../fonts/Yekan.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
*{
    font-family: yekan;
}